
/* general */
#wrapper {
    margin: auto;
    max-width: 800px;
}

body {
    font-size:14px;
    line-height:18px;
    color: #333;
}

/* navigation */

a.brand {
    position: relative;
    display: block;
    width:216px;
    height:36px;
    background-repeat: no-repeat;
    background-image: url("../img/help-me-choose.png");
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
}

a.brand:hover, a.brand:focus {
    background-image: url("../img/help-me-choose2.png");
}

#nav-toggle-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 8px 16px 8px 8px;
}

#nav-toggle {
    margin-left: auto;
}

#nav-toggle-brand {
    position: relative;
}

#header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 16px 8px;
}


#header-nav {
    margin-left: auto;
    font-size: 18px;
}

#header-nav ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#header-nav ul li {
    margin-left: 32px;
}

#header-nav ul span,
#header-nav ul a {
    display: inline-block;
    line-height:36px;
}

#header-nav ul a {
    color: #000;
    text-decoration: none;
}

#header-nav ul a:hover, #header-nav ul a:focus{
    color: #f00;
    text-decoration: none;
}

#header-nav ul a.header-button{
    display:inline-block;
    background: #f00;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 16px;
    color: #fff;
    line-height:32px;
    text-decoration: none;
}

#header-nav ul a.header-button:hover, #header-nav ul a.header-button:focus {
    color: rgba(255,255,255,.6);
    border: 1px solid #ff0000;
    text-decoration: none;
}

/* content */

#main {
    padding:36px;
}

.container { position: relative; width: 100px; height: 100px; float: left; margin-left: 10px; }
.checkbox { position: absolute; bottom: 0px; right: 0px; }


#hero {
    display:block;
    background: #f5f5f5 url("../img/article_bg.png") center repeat-x;
    border: 1px solid #959595;
    border-radius: 4px;
    padding:32px;
    text-decoration: none;
}

#hero figure {
    text-align:center;
}

#hero .hidden {
    display:none;
}

.form div.question {
    position:relative;
    float:left;
    width:54%;
}

.form div.question-options {
    position:relative;
    float:left;
    width:45%;
    text-align:left;
}

.form div.question-options label.yes-no {
    display:inline-block;
    margin:0 12px 0 0 !important; 
}

.form div.question-options label.slider {
    display:inline-block;
    width:20%;
    margin:0;
    font-size:12px;
    vertical-align:top;
    text-align:center;
}

.form div.question-options input[type="range"].slider {
    display:inline-block;
    width:55%;
    margin:0; 
}

article p.introduction {
    color:#ff0000;
    font-size: 18px;
    line-height:24px;
    text-align:center;
}

article p.center {
    text-align:center;
}

article p span.bigger {
    font-size:22px;
    font-weight:bold;
    color: #f00;
}

article input[type="text"] {
    border: 1px solid #000;
}

article div.form-item{
    text-align:center;
}

article h1 {
    color: #f00;
    font-size:38px;
    line-height:42px;
}

article h2 {
    color: #f00;
    font-size:36px;
    line-height:40px;
}

.review-form {
    padding: 32px 0;
}

h1.no-margin {
    margin:0;
}
.label.stars {
    border:none;
    background:none;
    padding:0;
}

.button.red-primary {
    background: #f00;
    color: #fff;
}

.button.green-primary {
    background: #197b30;
    color: #fff;
    font-size:18px;
    line-height:24px;
}

.button.orange-primary {
    background: #f26522;
    color: #fff;
    font-size:18px;
    line-height:24px;
}

.button.purple-primary {
    background: #4b0049;
    color: #fff;
    font-size:18px;
    line-height:24px;
}

.button.red-primary:focus, .button.green-primary:focus, .button.orange-primary:focus, .button.purple-primary:focus {
   color: rgba(255,255,255,.6);
   box-shadow: inset 0 0 0 40px rgba(0,0,0,.125);
}

ul.info-list {
    margin:0;
}
ul.info-list li {
  margin: 0;
  padding:0 8px 4px 20px;
  display: block;
}

ul.info-list li p{
  margin: 0;
  font-size:12px;
}

ul.info-list .address {
    background-repeat: no-repeat;
    background-image: url("../img/ic_address.png");
}

ul.info-list .website {
    background-repeat: no-repeat;
    background-image: url("../img/ic_web.png");
}

ul.info-list .phone {
    background-repeat: no-repeat;
    background-image: url("../img/ic_phone.png");
}

ul.review-list {
    margin:0;
}
ul.review-list li {
  margin: 0;
  padding:2px 0 6px;
  display: inline-block; 
  border-top: 1px solid #333;
}

ul.item-list {
    margin:0;
}
ul.item-list li {
  margin: 0;
  margin-top:-1px;
  line-height: 30px;
  display: block; 
  border-top: 1px solid #333;
}

ul.item-list li a,
ul.item-list li span {
  display: inline-block;
}
ul.item-list li a {
    width:66%;
    vertical-align: top;
    text-decoration:none;
    color: #ff4500;
}
ul.item-list li a:hover,ul.item-list li a:focus {
    color: #ff9999;
}
ul.item-list li span {
    width:33%;
    vertical-align: top;
}

/* footer */

#credits {
    display:block;
    margin:16px auto 0;
}

#footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-top: 1px solid #eee;
    margin: 36px 0;
    padding: 0 12px;
    font-size: 10px;
}

#footer nav {
    margin-left: auto;
}

#footer nav ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#footer nav ul li {
    margin-left:2px;
}

#footer nav ul li a {
    color: #0073bb;
    text-decoration: none;
}

#footer nav ul li a:hover, #footer nav ul li a:focus {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #header {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    #header-brand {
        display: none;
    }

    #header-nav {
        margin: 0;
    }

    #header-nav ul {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .form div.question {
        border-top: 1px solid #333; 
        padding-top:24px;
    }
    .form div.question, .form div.question-options {
    width:100%;
    }

    #footer {
        margin: 0 16px;
        display: block;
        text-align: center;
    }

    #footer nav ul {
        display: block;
        margin: 0;
    }

    #footer nav ul li {
        margin:0;
    }
    #footer nav ul li.divider {
        display:none;
    }



}